.added {
  color: green;
  background-color: lightgray;
  border-color: green;
  border-style: solid;
  border-radius: 8px;
  border-width: 3px;
  font-size: 20px;
  margin-bottom: 15px;
  padding: 10px;
}
.error {
  color: red;
  background-color: lightgray;
  border-color: red;
  border-style: solid;
  border-radius: 8px;
  border-width: 3px;
  font-size: 20px;
  margin-bottom: 15px;
  padding: 10px;
}
